body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffad69;
}

.main-page {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1500px;
}

.main-header {
  text-align: center;
}

.file-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 3rem;
  padding: 2rem;
  text-align: center;
  background: #3a4858;
  border-radius: 0.5rem;
  box-shadow: 5px 6px 7px #000;
  color: #fff;
}

.file-input-header {
  font-size: 1.5rem;
  margin-left: 3rem;
}

.choose-file-btn {
  cursor: pointer;
  margin: 0;
  outline: 0;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #000;
  padding: 15px 24px;
  height: 54px;
  border-radius: 0.3rem;
  background-color: #fff;
}

.choose-file-btn:hover {
  background-color: #e7e7e7;
}

.file-input {
  width: 0;
  height: 0;
}
