body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-header {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 2rem;
  background-color: #ffad69;
}

/* input page */

.input-page {
  min-height: 100vh;
  background-color: #ffad69;
  padding: 4rem 0;
}

.input-page * {
  margin: 0 auto;
  max-width: 1500px;
}

.input-page-header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.input-fieldset {
  border: 1px solid #3a4858;
  border-radius: 0.3rem;
  margin: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-fieldset label {
  display: flex;
  flex-direction: column;
  margin: 0.4rem 1rem;
}

.input-fieldset input {
  border: none;
  border-radius: 0.3rem;
  margin: 0.2rem 0;
  padding: 0.3rem;
  font-size: 1rem;
  width: 300px;
}

.input-fieldset button {
  border: none;
  border-radius: 0.3rem;
  width: 140px;
  margin: 1.5rem calc(50% - 70px) 0.3rem;
  padding: 0.4rem;
  background-color: #5e2d3c;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.input-fieldset button:hover {
  background-color: #854155;
}

.input-legend {
  width: fit-content;
  border-radius: 0.3rem;
  margin: 0;
  padding: 0.25rem 0.5rem;
  background-color: #3a4858;
  color: #fff;
}

.gui-input-header {
  font-size: 1.5rem;
  margin-left: 3rem;
}

.file-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 3rem;
  padding: 2rem;
  text-align: center;
  background: #3a4858;
  border-radius: 0.5rem;
  box-shadow: 5px 6px 7px #000;
  color: #fff;
}

.file-input-header {
  font-size: 1.5rem;
  margin: 2rem 0 0 3rem;
}

.file-input-btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.choose-file-btn {
  cursor: pointer;
  margin: 0;
  outline: 0;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #000;
  padding: 0.3rem 0.6rem;
  margin: 0 0.4rem;
  height: 54px;
  border-radius: 0.3rem;
  background-color: #fff;
}

.insert-file-btn {
  cursor: pointer;
  margin: 0;
  outline: 0;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #000;
  padding: 0.3rem 0.6rem;
  margin: 0 0.4rem;
  height: 54px;
  border-radius: 0.3rem;
  background-color: #49a7be;
}

.choose-file-btn:hover {
  background-color: #e7e7e7;
}

.insert-file-btn:hover {
  background-color: #3e90a5;
}

.file-input {
  width: 0;
  height: 0;
}

/*search page */

.search-page {
  min-height: 100vh;
  background-color: #e5aa8b;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
}

.search-page * {
  margin: 0 auto;
  max-width: 1500px;
}

.search-page table,
td,
th {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.2rem;
}

.search-page table {
  margin: 0.3rem;
}

.search-page-header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem auto;
  width: 100vw;
}

.customer-search {
  width: 45%;
  padding: 0.5rem 1rem;
  border: 1px solid #4a4242;
  border-radius: 0.3rem;
  position: relative;
  height: 600px;
}

.product-search {
  width: 45%;
  padding: 0.5rem 1rem;
  border: 1px solid #4a4242;
  border-radius: 0.3rem;
  position: relative;
  height: 600px;
}

.transaction-search {
  width: 90%;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  border: 1px solid #4a4242;
  border-radius: 0.3rem;
  position: relative;
  height: 600px;
}

.customer-result,
.product-result,
.transaction-result {
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.search-loading-spinner {
  position: absolute;
  top: 138px;
}

.no-data-notice {
  position: absolute;
  top: 140px;
}

.search-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  margin: 0.3rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #eaeaea;
}

.customer-search-btns,
.product-search-btns,
.transaction-search-btns {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
